<header>
  <div class="container">
    <div class="flex-header">
          <div class="logo flex">
            <a href="#" alt="Controle Financeiro">Controle Financeiro</a>
          </div>
          <div id="nav" class="nav-bar flex">
           <div class="menu-mobilie">
              <i class="fa fa-bars" aria-hidden="true"></i>
           </div>
            <nav>
              <ul>
                <li><a href="#"> Resumo</a></li>
                <li><a href="#"> Dashboard</a></li>
                <li><a href="#"> Configurações</a></li>
              </ul>
            </nav>
          </div>
    </div>
  </div>
</header>
